/*@media screen and (max-width: 478px) 	{
	h1 { font-size: 70px; padding: 1px; }
	h2 { font-size: 13px; padding: 1px; }
	body { font-size: 13px; }
}
*/
@media screen and (max-width: 600px) 	{
	body,html{height:auto;}
	#main_container{height:auto;}
	#column_left { width: 100%; height:auto; border:solid #000 0px;}
	#column_right { width: 100%; height:auto;  border:solid #000 0px;}
	#column_left #logo { margin:0; float:left; clear:both;  margin-top:25px; margin-left:25%;}
	#column_right .login_form{margin:0; float:left; clear:both; margin-top:50px; margin-left:25%; margin-bottom:25px;}
	header>hgroup>h1{color:#676767; font-size:12px; text-align:center; padding:10px;}
}

/*@media screen and (max-width: 480px) {

}*/
